* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}

img {
  max-width: 100%;
  height: auto;  
}

header { 
  background: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  padding-top: 0.3em;
  padding-bottom: 0.3em; 
  height: 65px;
}

#content {
  flex: 1 0 auto;
  background-image: url(../img/resized-background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  flex: 1 1 auto;
  text-align: center;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background: black;
  flex: 0;
}

footer > ul {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

footer > ul > li {
  list-style: none;
}

#logo {
  height: 100%;
}

h1 {
  font-size: 1.5em;
}

.social {
  display: flex;
  margin: 0.7em;
}

.mask {
  background: rgba(0,0,0,0.6); 
}

#intro > p {
  padding: 0.5em;
}

@media all and (min-width: 40.5em) {
  
  #logo {
    width: 11%;
  }

  #intro {
    padding: 1%;
  }

  #notice {
    width: 50%;
  }
    
}
